<div *ngIf="oneGame">
	<ul>
		<li *ngFor="let task of oneGame.tasks">
			<h4>{{task.task}}</h4>
			<h5>{{task.point}}</h5>
			<form (ngSubmit)="deleteTask(task)">
		         <input type="submit" value="Delete"/>
		    </form>
		    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" (click)="toggleNav()">who did this?</button>
		    	<div *ngIf="navExpanded" (click)=dismissNav()>
		    		<ul *ngFor="let user of oneGame.users">
		    			<li (click)="addScore(user,task)">{{user.userName}}
		    			</li>
		    		</ul>
		    	</div>
		</li>
	</ul>
</div>

	<div class="container">
		<form (ngSubmit)=addNewTask(newTask)>
			<input type="text" placeholder="add a task" [(ngModel)]="newTask.task" name="task">
			<button type="submit" class="btn btn-secondary">Add</button>
		</form>
	</div>

<div *ngIf="oneGame">
	<ul>
		<li *ngFor="let user of oneGame.users">
			<h4>{{user.userName}}</h4>
			<h5>{{user.score}}</h5>
		</li>
	</ul>
</div>

