.actions {
	display: block;
	color: white;
}
.dropdown{
	position: relative;
	display: inline-block;
}



.playerInfo{
	display: inline-block;
	padding-left: 10px
}
.taskList{
	display: block;
}
.container{
	padding-bottom: 10px;
}
.playerSection{
	margin-top: 20px;
}
p {
	font-size: 21px;
}
img {
	max-width: 150px;
	border-radius: 20px;
}

h2 {
	color: white;
}

h5{
	color: #75757E;
	font-size: 20px;
}

.options{
	left: 50% !important;
  	right: auto !important;
  	text-align: center !important;
  	transform: translate(-50%, 0) !important;
	background-color: #F27B2F;	
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.list{
	margin-top: 20px;
	padding-top: 20px;
	display: block;
	background-color: #F9C939;
	width: 100%;
}

form, p {
	display: inline;
}

.gameTop{
	padding-top: 50px;
}

.player{
	display: inline-block; 
	padding-left: 10px;
}

.action{
	/*border:1px solid #bbb;*/
	display: block;
}
.userN{
	text-transform: uppercase;
}