<app-navbar></app-navbar>
<div class="container">
	<h2>LOVE IS A COMPETITION</h2>
</div>

<div class="container">
	<p>Add task and points</p>
</div>

<div class="container">
	<form (ngSubmit)=addNewTask(newTask) class="playerTop">
		<input type="text" placeholder="Task" [(ngModel)]="newTask.task" name="task">
		<input type="text" placeholder="Points" [(ngModel)]="newTask.point" name="point" size="4">
		<button type="submit" class="btn btn-primary">Add</button>
	</form>
</div>
<div class="list">
	<div *ngIf="oneGame" class="container" >
		<ul *ngFor="let task of oneGame.tasks">
			<li class = "taskList dropdown">				
			    	<button class="btn btn-primary  dropdown-toggle" type="button" data-toggle="dropdown"> {{task.task}} :    {{task.point}} pts <span class="caret"></span></button>
			    		<ul class="dropdown-menu options">
			    			<li *ngFor="let user of oneGame.users" (click)="addScore(user,task)" class="actions">
			    				 {{user.userName}}
			    			</li>
			    			<li (click)="deleteTask(task)" class="actions">
			    				Delete
			    			</li>
			    		</ul>
			</li>
		</ul>
	</div>


	<div *ngIf="oneGame" class="container playerSection">
			<ul>
				<div class="player">
					<li *ngFor="let user of oneGame.users" class="playerInfo">
						<img src={{user.image}}>
						<!-- <h5 class="userN"> {{user.userName}}     </h5> -->
						<h5>{{user.score}} Pts</h5>
					</li>
				</div>
			</ul>
	</div>
</div>

