/*h2 {
	font-family: 'Questrial', sans-serif;
	
	margin-bottom: 0;
}*/
#resume{
	margin-top: 15px;
}
img{
	border-radius: 30px;
}
#noGame{
	background-color: #F9C939;
}

button{
	text-transform: uppercase;

}

.section2{
	margin-left: 10px;
}