
<!-- <h1>{{userName}}</h1> -->
<h1> getting this profile component</h1>
<div *ngIf="currentUser">
	<h1>{{currentUser.userName}}</h1>
	<img src = {{currentUser.image}} alt="your face">
<div>

<div>
	<form (ngSubmit)="findPartner(partnerName)">
		<h2> Search for your partner </h2>
		<input type="text" placeholder="add name"[(ngModel)]="partnerName" name="partner name">
		<button type="submit">Add</button>
	</form>
</div>
<section>
<div *ngIf="partnerInfo">
	<form>
		<h2>Search Results</h2>
		<ul>
			<li>
				<h3>{{partnerInfo.userName}}</h3>
				<h5>{{partnerInfo.id}}</h5>
				<img src={{partnerInfo.image}}>	
			</li>
		</ul>
		<!-- <button type="submit">Add</button> -->
	</form>
</div>
</section>

<div>
	<form (ngSubmit)="createGame(game)">
		<h2> Create New Game </h2>
		<input type="text" placeholder="add name"[(ngModel)]="game.gameName" name="game's name">
		<button type="submit">Start</button>
	</form>

</div>
